@font-face {
  src: url("../fonts/arialln.woff");
  font-family: "Arial Narrow";
}

@font-face {
  src: url("../fonts/ariallnb.woff");
  font-family: "Arial Narrow Bold";
}

.landing-gallery {
}

.gatsby-image-wrapper > img {
  filter: blur(25px);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@media (max-width: 576px) {
  p {
    letter-spacing: -0.3px;
  }

  h1 strong {
    letter-spacing: -1.5px;
  }
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  p {
    letter-spacing: 0 !important;
  }

  h1 strong {
    letter-spacing: 0 !important;
  }
}

.sub-menu--closed {
  display: none;
  max-height: 0;
  transition: max-height 1s;
}

.sub-menu--open {
  display: block;
  max-height: 99;
  transition: max-height 1s;
}

.fixed-ticker .ticker {
  font-family: "Arial Narrow";
  color: rgb(16, 246, 47);
  background-color: black;
  white-space: nowrap;
}

.standard-ticker .ticker {
  font-family: "Arial Narrow";
  color: white;
  background-color: black;
  white-space: nowrap;
}

.standard-ticker .ticker__element {
  top: 3px !important;
}

.fixed-ticker .ticker__element {
  top: 2px !important;
}

.ticker h1 {
  padding-left: 25px;
}

.cookie-banner {
}

.cookie-banner .close {
}

@media (min-width: 990px) {
  .plyr {
    height: 100%;
  }
}

.show {
  opacity: 1;
  transition-duration: 1s;
}

.hide {
  opacity: 0;
  transition-duration: 1s;
}

.show-ticker {
  opacity: 1;
}

.hide-ticker {
  opacity: 0;
}

.showGallery {
  opacity: 1;
  transition-duration: 1s;
}

.hideGallery {
  opacity: 0;
  transition-duration: 1s;
}

.active-menu-element {
  color: rgb(0, 0, 255) !important;
  /* color: rgb(16, 204, 19) !important; */
}

strong {
  font-weight: bold !important;
}

/* Carousel CSS */

.carousel {
  height: 100%;
}

@media (min-width: 576px) {
  .carousel {
    height: 100vh;
  }
}

/* .flickity-viewport {
  height: 100vh !important;
  width: 100%;
}

.flickity-slider {
  height: 100%;
  width: 100%;
}

.carousel-cell {
  height: 100%;
  width: 100%;
} */

.flickity-button {
  background: transparent !important;
}

.flickity-page-dots {
  display: none;
}
